<!-- 
    Using Material Angular Table to create our table. 
    1. (a) Using the Material Form Field to implement an input field to filter our table data. 
        - Onkeyup event the doFilter method runs with passing the current value in the input field as its argument. 
    2. (b) Create a table with the "mat-table" 
        -  (b.1) using one way property binding to gather the data from dataSoure. 
            - This holds our API data and will allow us to render the data in the table. 
        - (b.2) Using the matSort selector to indicate we want to sort the table
        - (b.3) Setting the class value to "table" for CSS Styling
    3. (c) Defining the name of the column with matColumnDef. This name must match the column name in the displayedColumns array. 
        - (c.1) Defining the column header and adding the mat-sort directive stating that this header is to be sorted. 
        - (c.2) Using matCellDef directive to dynmically render the API data in the name by using {{}} notation
    4. (d) Using the mat-paginator directive to limit the amount of rows showing to 10.
    5. (e)  Defning the column and rows name to be used in the Material Table. 
-->

<div class="filter" fxLayout fxLayoutAlign="center center">
    <!-- (a) -->
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>



<!-- (b) -->
<table mat-table [dataSource]="dataSource" matSort class="table mat-elevation-z8">


    <!-- (c) -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name }} </td>
    </ng-container>

    <!-- (c) -->
    <ng-container matColumnDef="nametype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name-Type </th>
        <td mat-cell *matCellDef="let element"> {{element.nametype}} </td>
    </ng-container>

    <!-- (c) -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- (c) -->
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <!-- (c) -->
    <ng-container matColumnDef="recclass">
        <th mat-header-cell *matHeaderCellDef> Recclass </th>
        <td mat-cell *matCellDef="let element"> {{element.recclass}}</td>
    </ng-container>

    <!-- (d) -->
    <mat-paginator [pageSize]="10">
    </mat-paginator>
    <!-- (e)-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>