
/* 1. (a) Setting the table to have a width to take up the full screen and to move it down the page.
  2.  (b) Adjusting the positioning of the filter input field. 
*/


/* (a) */.table {
  position: relative;
  top: 120px;
  width: 100%;
}

/* (b) */
.filter {
padding-left: 20%;
position: relative;
top: 80px;
}
