/* You can add global styles to this file, and also import other style files */


/* Importing the Semantic UI CSS*/
@import './app/vendor/semantic.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
